@use '/styles/helpers' as *;

.addNewCard {
  width: rem(322);
  height: rem(222);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #909fb6;
  border-radius: 8px;
}

.addNewCardText {
  display: flex;
  align-items: center;
  font-size: rem(18);
  line-height: 1.5;
  font-weight: bold;
  color: #909fb6;
  cursor: pointer;

  &::before {
    content: '';
    margin-right: 4px;
    width: rem(16);
    height: rem(16);
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1H9V15H7V1Z' fill='%23909FB6'/%3E%3Cpath d='M1 9L1 7L15 7V9L1 9Z' fill='%23909FB6'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
  }
}
