@use '/styles/helpers' as *;

.switcher {
  position: relative;
  width: rem(40);
  height: rem(24);
  border-radius: rem(32);
  transition: background-color 0.3s;

  &::before {
    content: '';
    position: absolute;
    top: rem(2);
    bottom: rem(2);
    width: rem(20);
    height: rem(20);
    border-radius: 50%;
    background-color: #ffffff;
    transition: right 0.3s;
  }
}

.switcherOff {
  background-color: #dde5f0;
  &::before {
    right: rem(2);
  }
}

.switcherOn {
  background-color: #66ab8e;
  &::before {
    right: rem(18);
  }
}
